*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #212121;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.primary{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin: 30px auto;
}

.new-task-container{
    display: flex;
}

.all-tasks-container{
    border: 1px solid white;
    width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-tasks-container > h3{
    margin-top: 10px;
}

.all-tasks-container-secondary{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 475px;
}

.task-box{
    margin: 5px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.task-text-box{
    width: 300px;
}

.remove-btn{
    height: 25px;
    /* width: 100px; */
    margin: auto 5px;
}
